<h1 >All Posts</h1>
<%= link_to "New Post", new_post_path %>
<% @posts.each do |post| %>
  <div data-controller="delete">
    <p>
    <h2><%= link_to post.title, post %></h2>
    <strong><%= post.author %></strong>
    <br />
    <em><%= post.created_at.strftime("%l:%M %P") %></em>
    <br />
    <%= link_to "Delete", post_path(post), method: :delete, remote: true, data: { target: "delete.link", action: "ajax:beforeSend->delete#click" } %>
    </p>
  </div>
<% end %>

